params.config_profile_description = 'VaLiAnT example'

env {
  VALIANT_REPO = "/home/ubuntu/VaLiAnT:/data"
}

process {
    withLabel: VaLiAnT {
        container = "why.docker.cgp-wr.sanger.ac.uk:5000/valiant:3-0-0-beta1"
    }
}

docker {
  enabled = true
  runOptions = "-v $env.VALIANT_REPO"
  registry = "why.docker.cgp-wr.sanger.ac.uk:5000"
}